.btn-primary {
    color: #fff;
    background-color: #0E7A81 !important;
    border-color: #0E7A81 !important;
}


.btn-outline-primary {
    color: #0E7A81 !important;
    border-color: #0E7A81 !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0E7A81 !important;
    border-color: #0E7A81 !important;
}
.btn-light:hover {
    color: #fff !important;
    background-color: #0E7A81 !important;
    border-color: #0E7A81 !important;
}
*{
    font-family: "Lato", sans-serif;
}